

.claim-form-wrapper {
  max-width: 750px;
  margin: 30px auto;
  padding: 20px;
  font-family: Arial, sans-serif;

}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.card {
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 4px;

}

.card h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

input,
select {
  width: 90%;
  padding: 7px 10px;
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 14px;
}



.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}



.action-buttons {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: black 1px solid;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.submit-btn {
  background: #0074e8;
  color: white;
}

.reset-btn {
  background: #aaa;
  color: black;
  margin-left: 20px;
}




