.footer {
  width: 100%;
  text-align: center;
  padding: 3px;
  background: #c49898;
  color: rgb(26, 17, 17);
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}


.footer p {

  margin: 0;
}
