
.card-container {
  height: 15vh;               /* Full screen height */
  display: flex;
  /* justify-content: center;     Center horizontally */
  margin-top: 50px;
  align-items: center;         /* Center vertically */
  background: #f5f5f5;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  background: white;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

/* .view-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 14px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
} */
